#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.offcanvas-header{
  background-color: teal;
}
.dot{
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.cursor-pointer{
  cursor: pointer;
}